.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.home-container > img {
  max-width: 20rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.input-wrapper {
  max-width: 38rem;
  width: 100%;
}

.search-btn {
  height: 40px;
  border-radius: 3px;
  min-width: 60px;
  padding: 0 16px;
  background-color: #F2F2F2;
  border: none;
  color: #141414;
  cursor: pointer;
  font-weight: 400;
  margin-top: 1.8rem;
  font-size: 17px;
}

button:hover:enabled {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid #f8f8f8;
}

button:disabled {
  color: #E5E7EA;
  opacity: 0.;
  background-color: #F8F9FA;
  cursor: unset;
}