footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 48px;
  font-size: 0.9rem;
  background-color: #f2f2f2;
  color: #70757a;
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 0px 24px;
  
    @media (max-width: 380px) {
    padding: 0px;
  }
}